.contact {

    #social-sidebar {
        right: 60%;
        @include max767 {
            right: 70%;
            position: absolute;
            top: 35%
        }
        

        li {
            a {
                width: auto;
                text-align: right;
                padding-right: $gutter * 2;
                transform: scale(2);

                &:hover span {
                    left: 102%;
                    transition: 1s;
                }
                
                span {
                    @include max767 {
                        left: 106%;
                        opacity: 1;
                    }
                }

            }
                &:nth-child(2) {
                    a {
                        top: 48px;
                        padding-right: 18px;
                    }
                }
    
                &:nth-child(3) {
                    a {
                        top: 96px;
                    }
                }      
        }
    }
}

