.portfolio-app.dark-mode {

    .header {

        &_right {
            background-color: $black;
            color: white;

            .toggle-mode {
                background: $black2;
                border: 2px solid $secondary-light;
                color: $secondary-light;
                .fa-moon {
                    display: none;
                }
            }

            a:hover {
                background-color: $black2;
            }
        }

        &_left {
            background-color: $primary-light;
        }
    }

    .header-mb {
        background-color: $primary-light;
        color: $white;

        .toggle-mode {
            .fa-moon {
                display: none;
            }
        }
    }

    .home {

        &_right {
            background-color: $black;
            color: white;
        }

        &_left {
            background-color: $primary-light;
        }
    }
}