@keyframes launch {
    0% {transform: translateY(500px);}
    100% {transform: translateY(-500px);}
  }
  
  .rocket {
    animation: launch 30s ease-in-out infinite normal;
    height: 300px;
    z-index: 999;
    position: fixed;
  }