.index {
  .mobile-title {
    display: none;
  }

  .boxed {
    @include max767 {
      width: 90%;
    }
  }

    /* DEMO-SPECIFIC STYLES */
  .typewriter {
    // width: 50%;
    padding-top: 10%;
    margin-left: auto;
    margin-right: 0;
    @include max767 {
      padding-top: 30%;
    }

    h2 {
      text-align: right;
      font-family: monospace;
      white-space: nowrap;
      overflow: hidden; /* Ensures the content is not revealed until the animation */
      border-right: .15em solid $secondary-light; /* The typwriter cursor */
      margin: 0 auto 16px; /* Gives that scrolling effect as the typing happens */
      letter-spacing: .15em; /* Adjust as needed */
      @include max767 {
        font-size: 22px;
      }
      &:nth-child(1) {
        animation: 
          typing 4s steps(30, end),
          blink-caret .5s step-end 8;
          animation-fill-mode: forwards;
      }
      &:nth-child(2) {
        animation: 4s
          typing steps(20, end) backwards,
          blink-caret .5s step-end 8 both;
          animation-delay: 4.5s;
      }
      &:nth-child(3) {
        animation: 4s
          typing steps(20, end) backwards,
          blink-caret .5s step-end 8 both;
          animation-delay: 8.5s;
      }
      &:nth-child(4) {
        animation: 4s
          typing steps(20, end),
          blink-caret .5s step-end infinite;
          animation-delay: 12.5s;
          animation-fill-mode: backwards; 
      }
    }
  }

}
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: $secondary-light }
}
@keyframes launch {
    0% {transform: translateY(-800px);}
    100% {transform: translateY(200px);}
}
  
@keyframes launchMb {
  0% {transform: translateY(100px);}
  100% {transform: translateY(-1000px);}
}
  .rocket {
    animation: launch 20s ease-in-out infinite alternate-reverse;
    height: 300px;
    z-index: 999;
    position: fixed;

    @include max767 {
      height: 250px;
      position: absolute;
      bottom: -110px;
      left: -18px;
      animation: launchMb 10s ease-in-out;
      animation-iteration-count: 1;
    }
  }