.portfolio-app.light-mode {

    background-color: $white;

    .header {

        &_right {
            background-color: $white;
            color: $black;

            .toggle-mode {
                background: $white2;
                border: 2px solid $secondary-dark;
                color: $secondary-dark;
                .fa-sun {
                    display: none;
                }
            }
            a:hover {
                background-color: $white2;
            }
        }

        &_left {
            background-color: $primary-dark;
        }
    }

    .header-mb {
        background-color: $primary-dark;

        .toggle-mode {
            .fa-sun {
                display: none;
            }
        }
    }

    .base {

        &_right {
            background-color: $white;
            color: $black;
        }

        &_left {
            background-color: $primary-dark;
        }
    }
}