#social-sidebar {
	left: 0;
	position: fixed;
	top: 30%;
}
#social-sidebar li:first-child a { border-top-right-radius: 5px; }
#social-sidebar li:last-child a { border-bottom-right-radius: 5px; }
 
#social-sidebar a {
	background: $terciary-dark;
    text-decoration: none;
	display: block;
	height: 50px;
	width: 50px;  
	font-size: 24px;
	line-height: 50px;
	position: relative;
	text-align: center;
    cursor: pointer;
    .icon {
        color: $secondary-light;
    }
}
#social-sidebar a:hover span {
	left: 120%;
	opacity: 1;
}
#social-sidebar a span {
  font: 12px "Open Sans", sans-serif;
  text-transform: uppercase;
	border-radius: 3px;
	line-height: 24px;
	left: -100%;
	margin-top: -16px;
	opacity: 0;
	padding: 4px 8px;
	position: absolute;
	transition: opacity .3s, left .4s;
	top: 50%;
	z-index: -1;
	width: max-content;
	font-weight: 600;
}
 
#social-sidebar a span:before {
	content: "";
	display: block;
	height: 8px;
    width: 8px;
	left: -4px;
	margin-top: -4px;
	position: absolute;
	top: 50%;
	transform: rotate(45deg);
}
 
#social-sidebar a:hover,
#social-sidebar a:hover .icon,
#social-sidebar a span,
#social-sidebar a span:before {
    background: $secondary-light;
    color: $terciary-dark;
}