/***********************
* IMPORTS
* VARIABLES
* MIXINS
***********************/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
/***********************
* STRUCTURAL
***********************/
.items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.item1 {
  --animation: neon1;
  --color: cyan;
  --radial-bg: radial-gradient( rgba(0, 255, 255, 0.2) 10%, transparent 45%);
}

.item2 {
  --animation: neon2;
  --color: yellow;
  --radial-bg: radial-gradient( rgba(255, 255, 0, 0.2) 10%, transparent 45%);
}

.item3 {
  --animation: neon3;
  --color: magenta;
  --radial-bg: radial-gradient( rgba(255, 0, 255, 0.2) 20%, transparent 60%);
}

/***********************
* item
***********************/
.item {
  font-family: 'Roboto Mono', monospace;
  display: inline-block;
  font-size: 60px;
  letter-spacing: 2px;
  opacity: .6;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: 130ms cubic-bezier(0.4, 1, 0.8, 1.8);
  z-index: 1;
  // width: fit-content;
  width: 300px;
  padding: $gutter * 2;
}
.item::before {
  bottom: 50%;
  content: '';
  left: 50%;
  position: absolute;
  right: 50%;
  top: 50%;
  z-index: -1;
}
.item:hover {
  animation: var(--animation) 2s forwards;
  letter-spacing: 8px;
  text-indent: 10px;
  opacity: 1;
}
.item:hover::before {
  background: var(--radial-bg);
  bottom: -50%;
  left: -50%;
  pointer-events: none;
  right: -50%;
  top: -50%;
}

/***********************
* ANIMATIONS
***********************/
@-webkit-keyframes neon1 {
  0%, 11%, 13%, 17%, 19%, 100% {
    text-shadow: 0px 0px 15px cyan;
  }
  12%, 18% {
    text-shadow: 0 0 0px #fff;
  }
}
@keyframes neon1 {
  0%, 11%, 13%, 17%, 19%, 100% {
    text-shadow: 0px 0px 15px cyan;
  }
  12%, 18% {
    text-shadow: 0 0 0px #fff;
  }
}
@-webkit-keyframes neon2 {
  0%, 11%, 13%, 17%, 19%, 100% {
    text-shadow: 0px 0px 15px yellow;
  }
  12%, 18% {
    text-shadow: 0 0 0px #fff;
  }
}
@keyframes neon2 {
  0%, 11%, 13%, 17%, 19%, 100% {
    text-shadow: 0px 0px 15px yellow;
  }
  12%, 18% {
    text-shadow: 0 0 0px #fff;
  }
}
@-webkit-keyframes neon3 {
  0%, 11%, 13%, 17%, 19%, 100% {
    text-shadow: 0px 0px 15px magenta;
  }
  12%, 18% {
    text-shadow: 0 0 0px #fff;
  }
}
@keyframes neon3 {
  0%, 11%, 13%, 17%, 19%, 100% {
    text-shadow: 0px 0px 15px magenta;
  }
  12%, 18% {
    text-shadow: 0 0 0px #fff;
  }
}
/***********************
* LOGO
***********************/
.logo {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
}
.logo svg {
  fill: rgba(255, 255, 255, 0.1);
  transition: 200ms;
}
.logo:hover svg {
  transform: rotate(360deg);
  fill: rgba(255, 255, 255, 0.4);
}